
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

img,
video {
    max-height: 100%;
    max-width: 100%;
}

video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -0;
    background-size: inherit;
    overflow: hidden;
    object-fit: inherit;
}

header {
    background-color: #23D8E5;
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
}

header .title {
    margin-top: 14px;
    color: #fff;
    font-weight: 100;
}

.brand-logo--cont {
    display: inline-block;
    padding: 8px 11px;
}

.videoplay-cont {
    height: 197px;
    background: #000;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 49px;
    overflow: hidden;
    -webkit-box-shadow: 0px 9px 17px -6px rgb(167, 167, 167);
    -moz-box-shadow: 0px 9px 17px -6px rgb(167, 167, 167);
    box-shadow: 0px 9px 17px -6px rgb(167, 167, 167);

}



.user-info--cont {
    position: absolute;
    top: 245px;
    width: 100%;
}

.user-info--cont .info {
    padding: 10px;
    background-color: #f4f4f4;
    display: flex;
}

.user-info--cont .info .pic-cont {
    width: 50px;
    height: 50px;

}

.user-info--cont .info .pic-cont img {
    border-radius: 5px;
}

.user-info--cont .info .name-cont {
    padding: 0px 10px;
    position: relative;
    flex: 1;
}

.user-info--cont .info .video-title--cont {
    position: relative;
}

.user-info--cont .info .video-title--cont h5 {
    margin: 0 0 5px 0;
}

.user-info--cont .info .name-cont h3 {
    margin: 0;
    font-weight: lighter;
    font-size: 16px;
}

.user-info--cont .info .name-cont .subscribers-number {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    font-weight: 600;
}

.user-info--cont .info .video-title--cont .reaction-cont button,
.videoplay-cont .player-controls--cont button {
    background: transparent;
    border: 1px solid #ddd;
    outline: 0;
    padding: 4px 8px;
    border-radius: 20px;
    color: #d1d3d4;
}

.playlist {
    margin: 10px;
    border: 2px solid #f8f8f8;
    padding: 0px 10px;
    border-radius: 5px;
}

.playlist .row {
    display: flex;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.playlist .row {
    margin-top: 10px;
}

.playlist .row:last-child {
    margin-bottom: 10px;
}

.playlist .row .vid {
    flex: 1;
    height: 150px;
    background-color: #fff;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    border: 2px solid transparent;
}

.playlist .row .vid:hover {
    border-color: #F4731C;
}

.playlist .row .vid video {
    object-fit: cover;
}

.playlist .row .vid:first-child {
    margin-right: 10px;
}

.playlist .vid .caption {
    z-index: 4;
    position: absolute;
    color: #fff;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, 0.62);
    bottom: 0;
    font-size: 12px;
    padding: 5px 10px;
}

.player-controls--cont {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: rgba(25, 23, 23, 0.62);
    padding: 7px 0px;
    display: none;
}

.videoplay-cont:hover .player-controls--cont {
    transition: 4s;
    display: block;
}

@media only screen and (max-width: 320px) {
    .playlist .row .vid {
        height: 112px;
    }
}

@media only screen and (min-width: 375px) {
    /* For mobile phones: */
    .videoplay-cont {
        height: 235px;
    }

    .user-info--cont {
        top: 283px;
    }
}

@media only screen and (min-width: 545px) {
    /* For mobile phones: */
    .videoplay-cont {
        height: 300px;
    }

    .user-info--cont {
        top: 349px;
    }
}

@media only screen and (min-width: 768px) {
    .videoplay-cont {
        height: 425px;
    }

    .user-info--cont {
        top: 474px;
    }

    .playlist .row .vid {
        height: 200px;
    }
}
